@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
 
  .header{
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:#0f3a58;
    display: flex;
    justify-content: space-between;
    align-items:  center;
    z-index: 100;
    
    
}
.logo{
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}
.navbar a{
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 2s;
}
.navbar a:hover,
.navbar a.active{
  color: #00abf0;
}
.home{
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background: #081b29;
}
.home-content{
    background-color:transparent;
    color: #ededed;
}
.home-content h1{
    font-size: 54px;
    font-weight: 700;
    line-height: 1.2;
    color:#ededed;

}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}
.home-content p{
    font-size: 16px; 
    margin: 20px 0 40px;   
}
.home-content .btn-box {
    width: 345px;
    height: 50px;
}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box a:hover{
    color: #00abf0;
}
.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2):hover{
    color: #081b29;
}
.btn-box a:nth-child(2)::before{
    background: #00abf0;
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover::before {
    width:100%;   
}
  
  #header h1 {
    font-size: 2.5em;
    color: #fff;
  }
  h2{
    color:#fff;
  }
  
  #header p {
    font-size: 1.2em;
    margin-top: 0.5em;
  }
  

  .home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    background-color:transparent;
}
.home-content h1{
    font-size: 54px;
    font-weight: 700;
    line-height: 1.2;

}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}
.home-content p{
    font-size: 16px; 
    margin: 20px 0 40px;
    color:#ededed;
}
.home-content .btn-box {
    width: 345px;
    height: 50px;
}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box a:hover{
    color: #00abf0;
}
.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2):hover{
    color: #081b29;
}
.btn-box a:nth-child(2)::before{
    background: #00abf0;
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover::before {
    width:100%;   
}
  #about {
    padding: 2em;
    text-align: center;
    background: #081b29;
    color: #00abf0;
    
  }
  
  .profile-image {
    border-radius: 50%;
    width: 250px;
    height: 350px;
    margin-bottom: 1em;
  }
  
 
  #skills {
    background: #081b29;
    padding: 2em;
    text-align: center;
    color:#00abf0;
  }
  
  #skills ul {
    list-style-type: none;
  }
  
  #skills li {
    font-size: 1.2em;
    margin: 0.5em 0;
  }
  
 
  #projects {
    padding: 2em;
    text-align: center;
    background: #081b29;
    color: #00abf0;
  }
  #projects h2{
    color:#ededed;
  }
  .project {
    margin: 1em 0;
    color:#00abf0;
  }
  
  .project img {
    max-width: 40%;
    height: auto;
    border-radius: 8px;
  }
  
  .project h3 {
    font-size: 1.5em;
    margin-top: 0.5em;
  }
  
  #resume {
    padding: 2em;
    text-align: center;
    background: #081b29;
  }
  #resume h2{
    color:#ededed;
  }
  
  #resume a {
    font-size: 1.2em;
    color: #00abf0;
    text-decoration: none;
    padding: 0.3em 1em;
    border: 2px solid #00abf0;
    border-radius: 4px;
    transition: 0.3s;
  }
  
  #resume a:hover {
    background: #081b29;
    color: white;
    
  }
  

  #contact {
    background: #081b29;
    padding: 2em;
    text-align: center;
    color: #00abf0;
  }
  #contact h2{
    color:#081b29;
  }
  
  #contact p {
    font-size: 1.2em;
    margin: 0.5em 0;
  }
  

  #footer {
    background:#0f3a58;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  #footer p {
    font-size: 0.9em;
  }